<div class="container my-5">
  <h1 class="text-center my-5">Добавление статьи на сайт</h1>
  <div class="col-sm-6 mx-auto">
    <form action="/handlerAddArticle" method="post">
      <div class="mb-3">
        <input name="title" type="text" class="form-control" placeholder="Заголовок">
      </div>
      <div class="mb-3">
        <textarea name="content" class="form-control" placeholder="Контент"></textarea>
      </div>
      <div class="mb-3">
        <input name="author" type="text" class="form-control" placeholder="Автор">
      </div>
      <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary">
      </div>
    </form>
  </div>
</div>