<div class="container">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img width="90%" id="userAvatar" src="" alt="">
      <form action="/changeAvatar" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" class="form-control">
        <input type="submit" value="загрузить" class="form-control btn btn-primary">
      </form>
    </div>
    <div class="col-sm-9">
      <p><strong>Имя: </strong> <span id="name"></span></p>
      <p><strong>Фамилия: </strong> <span id="lastname"></span></p>
      <p><strong>E-mail: </strong> <span id="email"></span></p>
      <p><strong>ID: </strong> <span id="userId"></span></p>
    </div>
  </div>
</div>
<script>
  const name = document.getElementById('name');
  const lastname = document.getElementById('lastname');
  const email = document.getElementById('email');
  const userId = document.getElementById('userId');
  const userAvatar = document.getElementById('userAvatar');
  fetch('/getUserData')
    .then(response=>response.json())
    .then(result=>{
      console.log(result);
      name.innerText = result.name;
      lastname.innerText = result.lastname;
      email.innerText = result.email;
      userId.innerText = result.id;
      userAvatar.src = result.img;
    })
</script>